.CLoader{
    height: 100%;
    width: 100%;
    position: fixed;
    background: radial-gradient(white, var(--colorBase));
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLogoLoader{
    width: 5rem;
}